body{
	margin: 0;
    text-align: center;
    color: seagreen;
    font-size: 24px;
}

.main-frame{
	background-image: url(images/cover.jpg);
	background-size: cover;
	padding:100px 50px ;

}
.main-frame h1{
	background-color: white;
	display: inline-block;
}
.main-frame a{ 
text-decoration: none;
padding: 15px 30px;
background-color: seagreen;
color: white;
 }
 .main-frame a:hover{
 	cursor: pointer;
 	background-color: seagreen;
 	opacity: 0.9;

 }
 .container{
 	background-color: lightsalmon;
 	display: flex;
 	justify-content: space-around;
 	gap: 80px;
 	padding: 25px 50px;
 	
}

.sqr{
	background-color: lightpink;
	padding: 25px;
	border-radius: 15px;
}

.sqr:hover{
	background-color: seagreen;
	color: whitesmoke;
}
 .itm-img{
 	height: 150px;
 	width: 150px;
 	border-radius: 50%;
 }
.container div p{
	color: black;
	text-align: justify;
}
.container div{

}

.last{
	font-size: 30px;
}

.avatar {
    width: 150px;
}

.card {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #ddebf8;
    color: #2b2839;
    border-bottom: 6px solid #d8cefe;
}

.border-blue {
    border: 1px dotted blue;
}
